<h1>About</h1>
<p>This application is Chase's first app from scratch and is in progress. The final result will be a mini Twitter Client. Feedback is welcome :)</p>
<h3> Features To Be Added </h3>
<ul>
<li>Mailer</li>
<li>User Pictures</li>
<li>Friends/Groups</li>
<li>Real Twitter Tweets Listing</li>
<ul>