	<div class="hero-unit text-center">
		<h1>Chase's Mini Twitter App!</h1>
		<p> 
			<%= link_to "Sign Up Now!", new_basic_user_registration_path, class:"btn btn-primary btn-large" %>
		</p>
	</div>
	<div class = "row-fluid">
		<div class="span4">
			<h3>Share</h3>
			<p>Publish twitter style micro-posts. Control who you share with.</p>
		</div>
		<div class="span4">
			<h3>Connect</h3>
			<p>Follow posts by joining groups with your friends and collaborators.</p>
		</div>
		<div class="span4">
			<h3>Explore</h3>
			<p>Find actual twitter on Twitter. Search by topic and other filters.</p>
		</div>
	</div>






