<div class="hero-unit text-center">
	<h1>Chase's Mini Twitter App!</h1>
	<p> 
		<%= link_to "Sign Up Now!", root_path, class:"btn btn-primary btn-large" %>
	</p>
</div>
<div class = "row-fluid">
	<div class="span4">
		<h3>Share</h3>
		<p>Publish twitter style micro-posts about what is happening in your life. Control who you share with.</p>
	</div>
	<div class="span4">
		<h3>Connect</h3>
		<p>Follow posts by joining groups with your friends and collaborators.</p>
	</div>
	<div class="span4">
		<h3>Explore</h3>
		<p>Find real time tweets by topic. Stay up to date on things that matter to you most.</p>
	</div>
</div>



