<div class="well">
<p>
  <b>User:</b>
  <%= @post.basic_user.name %>
</p>
<p>
  <b>Message:</b>
  <%= @post.content %>
</p>

<p>
  <% if @post.private %>
        Private
        <% else %>
        Public
        <% end %>
</p>
<% if current_basic_user == @post.basic_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
</div>
