$baseFontFamily: Patrick Hand SC;
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);

@import "bootstrap";

body {
	padding-top: 45px;
}

body .container {
	font-size: 1.3em;
}

.footer {
	border-top: solid black 1px;
	margin-top: 40px;
}

.hero-unit p {
	padding-top: 20px;
}

@import "bootstrap-responsive";